body {
  font-family: helvetica, sans-serif;
  margin: 0;
}


/*Header section*/
.page-header {
  background-image: url(./images/food-background-cropped.jpg);
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;    
  background-attachment: scroll;
    min-height: 750px;
}

h1#page-title {
  margin-top: 0;
  padding-top: 40px;
}

h2#h2-page-title {
    padding-top: 2em;
}

h1 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 10em;
  text-align: center;
  font-weight: 700;
}
    
h2 {
  color: white;
  font-family: 'Sanchez', serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
 }

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

div#about h3 {
    color: white;
}

/*Navigation bar in header*/
nav ul {
    color: white;
    float: right;
}

nav ul li {
    list-style-type: none;
    display: inline;
    font-family: 'Sanchez', serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-right: 1.1em;
} 

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffdb4d;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:active {
    color: #ffdb4d;
    font-weight: bold;
    text-decoration: none;
}

/*Recipes section*/
div.container-fluid {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 0;
}

div.recipes-row {
    padding-bottom: 1.5em;
}

/*Contact Us section*/
div#form-and-map {
    background-color: #ffdb4d;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

p#map-heading {
    font-weight: bold;
}

#contact-heading {
    margin-top: 0;
}

/*About section*/
div#about {
    background-image: url(./images/about-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: scroll;
    min-height: 100px;
  }

div#about p {
    font-family: helvetica, sans-serif;
    font-size: 1.2em;
    padding: 1.5em;
    margin-bottom: 1.5em;
    background-color: rgba(255, 255, 255, .9);
}

